<a href="https://colab.research.google.com/github/dharaneeshgunturu2003/Basic-ML/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Program for adding two numbers

In [1]:
a=int(input())
b=int(input())
print(a+b)

12
23
35

python code for get 15 leap years

In [2]:
n=0
lst_yrs=[]  
yr=int(input())
while n<15:
    if(yr%400==0 or (yr%4==0 and yr%100!=0)):
        lst_yrs.append(str(yr))
        n+=1
    yr+=1
print(", ".join(lst_yrs))

2002
2004, 2008, 2012, 2016, 2020, 2024, 2028, 2032, 2036, 2040, 2044, 2048, 2052, 2056, 2060

python program for string palindrome

In [3]:
a=input()
b=a.lower()
z=b[::-1]
if (z==b):
    print("Palindrome")
else:
    print("Not Palindrome")

dharaneesh
Not Palindrome